build/
third_party/
.cache/
compile_commands.json
.vscode/
*.o
*.a
scratch-logs/
obj-*/
debian/8kloud-switcher/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
